---
layout: page
title: Blogs
permalink: /archive
---

<h2>List of AI Blogs/Papers/Videos</h2>

<ul>
  <li><b><a href="{{ '/ai-blogs' | relative_url }}">AI Blogs</a></b> (Last Updated: April 29, 2022)</li>
</ul>

<h2>Personal Blogs</h2>

{% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
{% for year in posts_by_year %}
<h2>{{ year.name }}</h2>

{% assign posts_by_month = year.items | group_by_exp: "post", "post.date | date: '%B'" %}
{% for month in posts_by_month %}
<h3>{{ month.name }}</h3>

<ul>
{% for post in month.items %}
  <li><span>{{ post.date | date: "%B %-d, %Y" }}</span> &raquo; <b><a href="{{ post.url | relative_url }}">{{ post.title }}</a></b></li>
{% endfor %}
</ul>
{% endfor %}
{% endfor %}
