---
layout: page
title: Poems
permalink: /poems
---

{% assign poems_by_year = site.poems | sort: "date" | reverse | group_by_exp: "poem", "poem.date | date: '%Y'" %}
{% for year in poems_by_year %}
<h2>{{ year.name }}</h2>

{% assign poems_by_month = year.items | group_by_exp: "poem", "poem.date | date: '%B'" %}
{% for month in poems_by_month %}
<h3>{{ month.name }}</h3>

<ul>
{% for poem in month.items %}
  <li><span>{{ poem.date | date: "%B %-d, %Y" }}</span> &raquo; <b><a href="{{ poem.url | relative_url }}">{{ poem.title }}</a></b></li>
{% endfor %}
</ul>
{% endfor %}
{% endfor %}
