ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffcc66;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

li {
    float: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.margin{margin:16px!important}
.center{text-align:center!important}
/*.center{display:inline-block;width:auto}
.center{text-align:center}*/
.red{color:#fff!important;background-color:/*#4ABDAC*/#f44336!important}	
.jumbo{font-size:64px!important}
.xlarge{font-size:24px!important}
.button:hover{color:#000!important;background-color:#ccc!important}
.black{color:#fff!important;background-color:#000!important}
.padding-large{padding:12px 24px!important}
.large{font-size:18px!important}
.margin-top{margin-top:16px!important}.margin-bottom{margin-bottom:16px!important}

.top{position:fixed;width:100%;z-index:1}
.top{top:0}

img {
  width: 300px;
  height: 300px;
  float: right;
  shape-outside: circle(50%);
}

.row-padding:after,.row-padding:before {
	content:"";display:table;clear:both
}
.row-padding,.row-padding>half,.row-padding>third,.row-padding>twothird,.row-padding>threequarter,.row-padding>quarter,.row-padding>col{padding:0 8px}
{padding:0.01em 16px}panel{margin-top:16px;margin-bottom:16px}

.padding-64{padding-top:64px!important;padding-bottom:64px!important}
.container,.panel{padding:0.01em 16px;background-color: #ccffff}
.container{padding:0.01em 16px}

.container:after,.container:before{content:"";display:table;clear:both}

.content{max-width:1080px;margin:auto}

/*.twothird{float:left;width:100%}
.twothird{width:66.66666%}
.twothird{padding:0 8px}
.text-grey{color:#757575!important}*/

/*.third{width:33.33333%}*/
/*.third{float:left;width:100%}*/

.opacity,.hover-opacity:hover{opacity:0.60}

